<body>
    <div class="login-container">
        <button id ="cerrar" onclick="history.back()">x</button>
        <p id="bienvenida1"> <b>Unirse</b></p>
        <p id="bienvenida2">y vive el verdadero libre albedrío</p>
        <form>
            
            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" [(ngModel)]="nuevoUsuario" id="username" name="username" required placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" [(ngModel)]="nuevoPassword" id="password" name="password" required placeholder="Contraseña">
            </div>
           
            <button (click)="crearCuenta()" id="acceder">Crear cuenta</button>
        </form>
        <p>o</p>
        <div class="social-buttons">
             <button id="google">Regístrate con Google</button>
            <button id="facebook">Regístrate con Facebook</button>
           
        </div>
        <p>¿Ya tienes una cuenta en <b>Purgatorio</b>? <a href="#">Inicia sesión</a></p>
    </div>
</body>

