<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="banner">
        <div class="menu-button">
    
            <button>☰</button>
        </div>
        <div class="logo" routerLink="./pagina_principal"></div>
        <div class="action-buttons">

            <!-- Divs con funcionalidad para los botones de acción (derecha) -->
            <div class="action-button" id="unirse" routerLink="./crear_cuenta">Unirse</div>
            <div class="action-button" id="iniciar-sesion" routerLink="./iniciar_sesion">Iniciar Sesión</div>
          
        </div>
    </div>
</body>
</html>
