<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="banner">
        <div class="menu-button">
            <!-- Botón de desplegar (izquierda) -->
            <button>☰</button>
        </div>
        <div class="logo"></div>
        <div class="action-buttons">

            <!-- Divs con funcionalidad para los botones de acción (derecha) -->
            <div class="action-button" id="unirse">Unirse</div>
            <div class="action-button" id="iniciar-sesion">Iniciar Sesión</div>
          
        </div>
    </div>
</body>
</html>
