<body>
    <div class="banner">
        <div class="menu-button">
            <button (click)="toggleMenu()">☰</button>
        </div>
        <div class="logo" (click)="restablecerFiltros()"></div>
        <div class="action-buttons">
            <div class="action-button" id="unirse" routerLink="./crear_cuenta">Unirse</div>
            <div class="action-button" id="iniciar-sesion" routerLink="./iniciar_sesion">Iniciar Sesión</div>
        </div>
    <br>
        <div [ngClass]="{'menu-open': isMenuOpen}" class="menu">
            
            <button id="cerrar" (click)="closeMenu()">x</button>
            <br>
            <div class="search-bar">
                
                <input   placeholder="Buscar..." type="text" id="searchTerm">
                <button type="button" (click)="searchByTerm()"><span class="material-icons">search</span></button>   
                
            </div>
            <div class="categories">
                <div (click)="seleccionarCategoria(2)"><span>Cine</span></div>
                <div (click)="seleccionarCategoria(1)"><span>Música</span></div>
                <div (click)="seleccionarCategoria(3)"><span>Varios</span></div>
            </div>
            
        </div>
    </div>
</body>

