<div class="container" >
  <div class="article" *ngIf="articulo">
    <h2>{{ articulo.titulo }}</h2>
    <img [src]="articulo.image" alt="{{ articulo.titulo }}">
    <p>{{ articulo.cuerpo_articulo }}</p>
    <p><span class="categoria">Categoría:</span> {{ articulo.categoria }}</p>
    <p><span class="autor">Autor:</span> {{ articulo.autor }}</p>
  </div>
  <div class="sugerencias-container">
    <div class="sugerencias-title">Recomendados</div>
  </div>
  <br><br>
  <app-articulos-sugeridos></app-articulos-sugeridos>  
</div>

