.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article {
  flex-basis: 70%; /* Ajusta el ancho del artículo principal */
  margin-right: 20px;
  text-align: center; /* Alinea los elementos hijos horizontalmente al centro */
}



img {
  border: 2px solid #ccc;
  margin: 10px 0;
  max-width: 75%; /* Asegura que la imagen no sobrepase el ancho de su contenedor */
  height: auto;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
  text-align: center;

}



p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.categoria {
  font-weight: bold;
}

.autor {
  font-style: italic;
}


.sugerencias-container {
  background-color: #000000; /* Fondo en tono claro de rojo */
  border: 5px solid rgba(155, 4, 4, 0.897); /* Borde en rojo */
  
  padding: 10px;
  margin-top: 20px;
  width: 250px;
}

.sugerencias-title {
  font-size: 1.5em; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  color: #ffffff; /* Color del texto en rojo */
  text-align: center;
}
