<body>  
    <div class="paginaWeb" style="min-height: 460px;">
        

        <div id ="contenedorPublic">
       
            <h1>Agregar Publicación</h1>

            <div class="form-group">
                <label for="titulo">Título:</label>
                <br>
                <input type="text" [(ngModel)]="nuevoArticulo.titulo" name="titulo_publicacion_nueva" required>
              </div>
              
              <div class="form-group">
                <label for="texto">Contenido de la publicación:</label>
                <br>
                
                <textarea [(ngModel)]="nuevoArticulo.cuerpo_articulo" name="texto_publicacion_nueva" rows="4" required></textarea>
              </div>
              
              <!-- Asegúrate de manejar correctamente el archivo de imagen según tus necesidades -->
              <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="text" [(ngModel)]="nuevoArticulo.image" name="imagen_publicacion_nueva">
              </div>
              
              <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select [(ngModel)]="nuevoArticulo.categoria" name="categoria" required>
                  <option value="1">Cine</option>
                  <option value="2">Música</option>
                  <option value="3">Varios</option>
                </select>
              </div>
              
              <div class="form-group">
                <button (click)="agregarPublicacion()">Agregar Publicación</button>
                <button id="cancelar" type="button" onclick="history.back()">Cancelar</button>
              </div>
              
    
        
      
         </div>
        
    </div>
     
</body>
